@import url('https://fonts.googleapis.com/css?family=Bitter');

/** Desktop styles **/
/* Universal styles */
html {
    font-size: 16px;
    line-height: 1.5;
}

body {
    padding: 0;
    margin: 0;

    background-attachment: fixed;
    background-size: 100vw 100vh;
    font-family: monospace;
    /*background-color:black;*/
}

.title {
    text-align: center;
    margin-bottom: 5vh;
    font-size: 1.8rem;
}

/* Navigation styles */
#navbar {
    position: fixed;
    top: 0;
    background-image: linear-gradient(#222, #000, #000);
    width: 100vw;
}

#navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

#navbar ul li a {
    display: block;
    padding: 15px;
    margin-right: 2vw;
    color: white;
    text-decoration: none;
}

#navbar ul li a.active {
    color: orange;
}

/* Welcome screen styles */
#welcome-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
    font-size: 2rem;
    margin: -15vh 5vw 10vh 5vw;
    font-family: 'Bitter', serif;
    font-variant: small-caps;
    cursor: default;
    background-color:#41B3A3;
}

/* About me section styles */
.aboutBox {
    min-height: 100vh;
    padding: 5vw;
    color: white;
    background-image: linear-gradient(#111, #111, #111, #111, #222);
}

#myPicture {
    width: 33vw;
    float: right;
    border-radius: 10px;
    margin-left: 5vw;
}

.aboutBox p {
    text-align: justify;
}

/* Portfolio section styles */
.portfoliBox {
    min-height: 100vh;
    padding: 5vw;
    color: white;
    background-image: linear-gradient(#222, #222, #222, #222, #333);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container .project-tile a img {
    border-radius: 10px 10px 0 0;
    width: 40vw;
    height: 33vh;
}

.container .project-tile p {
    text-align: center;
    margin: -1.5vh 0 5vh 0;
    background-color: white;
    color: black;
    padding: 1vh 0;
}

.container #last-item {
    visibility: hidden;
}

/* Contact section styles */
.contactBox {
    min-height: 100vh;
    text-align: center;
    font-size: 1rem;
    padding: 5vw;
    color: white;
    background-color: #333;
}

.contactBox p {
    margin-top: 15vh;
    font-size: 1.25rem;
}

.contactBox .links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contactBox #profile-link, .contactBox .logo {
    text-decoration: none;
    color: orange;
    border: 1px solid orange;
    padding: 10px;
}

.contactBox #profile-link:hover, .contactBox .logo:hover {
    background-color: white;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa-github {
    background:black;
    color:white;
}

/* Footer styles */
footer {
    background-image: linear-gradient(#000, #000, #111);
    color: white;
    text-align: center;
    padding: 1vh 0;
    font-size: 0.75rem;
}


/** Landscape smartphone styles | Low resolution tablet styles **/
@media only screen and (min-width: 481px) and (max-width: 767px) {
    /* Universal styles */
    html {
        font-size: 14px;
    }

    /* Navigation styles */
    #navbar ul li a {
        padding: 12.5px;
    }

    /* Welcome screen styles */
    #welcome-section {
        font-size: 1.55rem;
    }

    /* About me section styles */
    .aboutBox {
        padding: 7.5vw;
    }

    #myPicture {
        float:none;
        display: block;
        width: 50vw;
        margin: 0 auto;
    }

    /* Portfolio section styles */
    .portfolioBox {
        padding: 7.5vw;
    }

    .container .project-tile a img {
        width: 40vw;
        height: 25vh;
    }

    /* Contact section styles */
    .contactBox {
        padding: 7.5vw;
    }

    .contactBox #profile-link, .contactBox .logo {
        margin: 1vh 1vw;
    }

    /* Footer styles */
    footer {
        padding: 1.25vh 0;
    }
}


/** Portrait smartphone styles **/
@media only screen and (max-width: 480px) {
    /* Universal styles */
    html {
        font-size: 12px;
    }

    /* Navigation styles */
    #navbar ul {
        justify-content: space-around;
    }

    #navbar ul li a {
        padding: 10px;
        margin-right: 0;
    }

    /* Welcome screen styles */
    #welcome-section {
        font-size: 1.35rem;
    }

    /* About me section styles */
    .aboutBox {
        padding: 10vw;
    }

    #myPicture {
        float:none;
        display: block;
        width: 50vw;
        margin: 0 auto;
    }

    .aboutBox p {
        text-align: center;
    }

    /* Portfolio section styles */
    .portfolioBox {
        padding: 10vw;
    }

    .container .project-tile a img {
        width: 80vw;
        height: 25vh;
    }

    .container #last-item {
        display: none;
    }

    /* Contact section styles */
    .contactBox {
        padding: 10vw;
    }

    .contactBox #profile-link, .contactBox .logo {
        padding: 7.5px;
        margin: 1vh 1vw;
    }

    /* Footer styles */
    footer {
        padding: 1.5vh 0;
    }
}
#skill { 
    list-style: none;
    font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    width: 296px;
    margin: 50px auto 0;
    position: relative;
    line-height: 2em;
    padding: 30px 0;
}

#skill li { 
    margin-bottom:50px; 
    background:#e9e5e2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#e9e5e2));
    background-image: -webkit-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: -moz-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: -ms-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: -o-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: linear-gradient(top, #e1ddd9, #e9e5e2);  
    height:20px; 
    border-radius:10px; 
    -moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;   
    -webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;    
    box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;     
}

#skill li h3 { 
    position:relative; 
    top:-25px;
}

.bar { 
    height:18px; 
    margin:1px 2px;  
    position:absolute;
    border-radius:10px;
    -moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
    -webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;    
    box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;       
}

.graphic-design {
    width:78%; 
    -moz-animation:graphic-design 2s ease-out;
    -webkit-animation:graphic-design 2s ease-out;
    background-color: #f674a4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f674a4), to(#e06995));
    background-image: -webkit-linear-gradient(top, #f674a4, #e06995);
    background-image: -moz-linear-gradient(top, #f674a4, #e06995);
    background-image: -ms-linear-gradient(top, #f674a4, #e06995);
    background-image: -o-linear-gradient(top, #f674a4, #e06995);
    background-image: linear-gradient(top, #f674a4, #e06995);
}

.html-css {
    width:90%;
    -moz-animation:html-css 2s ease-out;
    -webkit-animation:html-css 2s ease-out;
    background-color: #f0bb4b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f0bb4b), to(#d9aa44));
    background-image: -webkit-linear-gradient(top, #f0bb4b, #d9aa44);
    background-image: -moz-linear-gradient(top, #f0bb4b, #d9aa44);
    background-image: -ms-linear-gradient(top, #f0bb4b, #d9aa44);
    background-image: -o-linear-gradient(top, #f0bb4b, #d9aa44);
    background-image: linear-gradient(top, #f0bb4b, #d9aa44);
}

.jquery {
    width:65%;
    -moz-animation:jquery 2s ease-out;
    -webkit-animation:jquery 2s ease-out;
    background-color: #a1ce5b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a1ce5b), to(#91ba52));
    background-image: -webkit-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: -moz-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: -ms-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: -o-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: linear-gradient(top, #a1ce5b, #91ba52);
}

.wordpress {
    width:80%;
    -moz-animation:wordpress 2s ease-out;
    -webkit-animation:wordpress 2s ease-out;
    background-color: #66b3cc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66b3cc), to(#5da3ba));
    background-image: -webkit-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -moz-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -ms-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -o-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: linear-gradient(top, #66b3cc, #5da3ba)    
}

@-moz-keyframes graphic-design {0%  { width:0px;} 100%{ width:100%;}  }
@-moz-keyframes html-css        { 0%  { width:0px;} 100%{ width:90%;}  }
@-moz-keyframes jquery      { 0%  { width:0px;} 100%{ width:65%;}  }
@-moz-keyframes wordpress   { 0%  { width:0px;} 100%{ width:80%;}  }

@-webkit-keyframes graphic-design       { 0%  { width:0px;} 100%{ width:100%;}  }
@-webkit-keyframes html-css        { 0%  { width:0px;} 100%{ width:90%;}  }
@-webkit-keyframes jquery      { 0%  { width:0px;} 100%{ width:65%;}  }
@-webkit-keyframes wordpress   { 0%  { width:0px;} 100%{ width:80%;}  }

